.Basket__item {
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
	height: 63px;
	align-items: center;
}

.Basket__item-code {
	padding: 20px 10px 20px 20px;
}

.Basket__item-title {
	width: 100%;
	padding: 20px 10px;
}

.Basket__item-actions {
	display: flex;
	justify-content: flex-end;
	padding: 20px 20px 20px 10px;

}

.Basket__item-actions button {
	width: 59px;
	height: 16px;
	color: #000;
	text-align: center;
	font-family: Arial;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	box-sizing: content-box;
}

.Basket__item-price,
.Basket__item-quantity {
	white-space: nowrap;
	padding: 20px 14px;
}

.Basket__item-quantity {
	padding-left: 48px;
}

.Basket__total {
	display: flex;
	justify-content: end;
	gap: 53px;
	padding-right: 120px;
	position: relative;
	color: #000;
	text-align: right;
	font-family: Arial;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	margin-top: 2px;
}